.activity-log-container {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  width: 100%;
  overflow-y: hidden; /* This should not have a scrollbar */
}

.activity-log-header {
  background-color: transparent !important;
}

.activity-log-header h4 {
  font-size: 20px;
  font-weight: 650;
  color: #343a40;
}

.table-container {
  max-height: 300px; /* Restrict the height to allow scrolling */
  overflow-y: hidden; /* Enable vertical scrolling */
  margin-top: 10px; 
  border: 1px solid #ddd; 
  border-radius: 8px;
}

.activity-log-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed; /* Ensure consistent column widths */
}

.activity-log-table th, .activity-log-table td {
  border: none;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px; /* Ensure consistent font size */
}

/* Ensure thead takes full width */
.activity-log-table thead {
  display: table; /* Ensure the thead behaves like a table */
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #d0d1d2; /* Prevent columns from shifting */
  font-size: 12px; /* Reduce the font size */
}

.activity-log-table thead th {
  background-color: transparent !important;
  color: #595757;
  text-align: center; /* Horizontal centering */
  vertical-align: middle; /* Vertical centering */
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px; /* Adjust padding if necessary */
}

.activity-log-table tbody {
  display: block; /* Separate table body from header */
  max-height: 260px; /* Restrict table body height */
  overflow-y: auto; /* Enable scrolling */
  width: 100%;
}

.activity-log-table tbody tr {
  font-size: 12px; /* Reduce the font size */
  display: table;
  width: 100%;
  table-layout: fixed;
}

.activity-log-table tbody tr td {
  text-align: center; /* Horizontal centering for the body */
  vertical-align: middle; /* Vertical centering for the body */
  color: #495057;
  background-color: transparent;
}

.activity-log-table tbody tr:hover {
  background-color: #f1f1f1;
}
