.inventory-container {
  padding: 5px 20px 20px 20px;
}
.inventory-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: relative;
}

.inventory-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 650;
  color: #373A40;
}

.inventory-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.inventory-search {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f8f7f7;
  border-radius: 4px;
  margin-right: 10px;
}

.category-inventory{
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f8f7f7;
  padding: 5px;
  border-radius: 5px;
}


.inventory-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow for depth */
  border-radius: 10px;
  overflow: hidden; /* This will make sure rounded borders work properly */
  background-color: rgb(248, 248, 248);
}

.inventory-table th, .inventory-table td {
  text-align: left;
  border-bottom: 2px solid #e0e0e0;
}

.inventory-table th {
  padding: 10px;
  background-color: #373A40;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.inventory-table tbody tr {
  transition: background-color 0.2s ease;
}

.inventory-table tbody tr:hover {
  background-color: #d6d6d6; /* Add subtle hover effect */
}

.inventory-table td {
  color: #5a5d63;
  font-size: 16px;
  padding: 14px;
}

.inventory-table-container {
  margin-top: 20px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #ddd; /* Slight border for structure */
  background-color: #f9f9f9;
}

/* Specific class for item names to make them stand out */
.inventory-itemname {
  font-weight: 600;
  font-size: 16px;
  color: #373A40;
}

/* For Resubmit/Submit button links, if you want */
.inventory-link {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.inventory-link:hover {
  text-decoration: underline;
}
