.new-order-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: transparent;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.back-button {
    font-size: 20px;
    margin: 0;
    color: #666;
    text-align: left;
    text-decoration: none;
    padding-left: 0;
}

.back-button:hover{
    color: #4D869C;
}
.order-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 80vh;
}

.full-screen {
    width: 100%;
}

.product-list-section {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width: 40%; 
}
.product-header-container h4 {
    font-size: 1.5rem;
    margin-top: 9px;
}

.product-header-container{
    border-bottom: 1px solid #c5c4c4;     
    margin-bottom: 10px;   
  }

/* Keep the product list section style */
.product-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-list-header h3 {
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}


.search-container {
    position: relative;
    width: 50%; /* Adjust this if you want it wider or narrower */
    margin-left: auto; /* This will move the search bar to the right */
    margin-bottom: 10px; /* Adds space below the search bar */
}

.search-container input {
    width: 100%; /* Takes up the full width */
    padding: 10px 40px 10px 20px; /* Extra padding to account for the search icon */
    border: 1px solid #ccc; /* Border color */
    border-radius: 25px; /* Fully round border */
    font-size: 16px; /* Font size for readability */
    outline: none;
    box-shadow: none; /* Remove box shadow */
}

.search-container .search-icon {
    position: absolute;
    top: 50%;
    right: 20px; /* Positioning the icon on the right */
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa; /* Icon color */
    cursor: pointer; /* Make the icon clickable */
}
.search-container input:focus {
    outline: none; /* This removes the blue border */
    box-shadow: none; /* Removes any additional shadow that may appear */
}

.product-card {
    display: grid;
    grid-template-columns: 60px 1fr auto auto;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #EEF7FF;
}

.product-card img {
    width: 80px;
    border-radius: 4px;
}

.product-image {
    max-width: 100%;
    object-fit: contain;
    padding: 0px;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
    
}

.product-description {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

.product-price {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0rem;
}



.product-stock {
    font-size: 14px;
    color: #cb3503;
    margin-right: 54px;
}

.addto-order-btn{
    border-radius: 20px;
}
.flip-container {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease-in-out; /* Transition for fade */
    opacity: 0; /* Initially hide both sides */
    visibility: hidden;
}

.flipped .front {
    opacity: 0;
    visibility: hidden;
}

.flipped .back {
    opacity: 1;
    visibility: visible;
}

.front {
    opacity: 1;
    visibility: visible;
}

.back {
    opacity: 0;
    visibility: hidden;
}


/* Style for order and buyer info sections */
.next-btn-container {
    display: flex;
    justify-content: flex-end;
}

.next-btn {
    background-color: transparent;
    color: #666;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.next-btn:hover {
    text-decoration: underline;
}

.order-details-section, .buyer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps header, items, and total amount spaced correctly */
    height: 100%;
}

.order-details-section h4 {
    margin: 0;
    font-size: 1.5rem;
    
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d0d0;
}

.order-items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align only the order items to the top */
    gap: 15px;
    margin-bottom: 20px;
}

.order-item {
    display: grid;
    grid-template-columns: 80px 1fr auto auto auto auto; /* Defined grid layout for image, name, packaging, quantity controls, price, and delete icon */
    align-items: center; /* Ensures all elements are vertically aligned */
    gap: 15px; /* Gap between columns */
    border-bottom: 1px solid #cdcccc; /* Border between order items */
    padding-bottom: 10px;
}

.order-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 4px;
}

.order-item .product-info {
    font-size: 16px;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 138px;
}

.quantity-control button {
    width: 20px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.quantity-control input {
    width: 72px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    text-align: center; /* Centers the number inside the input */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Adjust the font size as needed */
    appearance: none; /* Removes the default spinner (up/down arrows) */
    -moz-appearance: textfield; /* Removes the spinner for Firefox */
}

.quantity-control input::-webkit-outer-spin-button,
.quantity-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes the spinner for Webkit browsers (Chrome, Safari) */
}


.price-wrapper {
    display: flex;
    align-items: center;
}

.editable-price-input {
    width: 100px; /* Set a defined width for price input */
    padding: 5px;
    text-align: right;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.remove-item-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #d02008;
}

.remove-item-button:hover {
    transform: scale(1.3);
    color: #f5432b;
}


.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.add-btn, .create-btn {
    background-color: #4D869C;
    color: #EEF7FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 150px;
}

.buyer-info-container .form-group {
    margin-bottom: 15px;
}

.total-amount-container {
    border-top: 1px solid #d1d0d0; /* Keep the separator */
    padding-top: 10px; /* Add some padding above the total amount */
    margin-top: auto; /* Push the total amount to the bottom */
}

.total-amount {
    display: flex;
    justify-content: flex-end; /* Align the total amount to the right */
    gap: 5px;
    font-size: 20px;
}


.packaging-dropdown-wide {
    width: 80px;
}

/* Style for order and buyer info sections */
.buyer-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d0d0; /* Adds the bottom border */
    margin-bottom: 20px; /* Adds space below the header */
    padding-bottom: 10px; /* Adds padding below the header */
}

.buyer-header-container h4 {
    margin: 0;
    font-size: 1.5rem;
}

.previous-btn {
    background-color: transparent;
    color: #666;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.previous-btn:hover{
    text-decoration: underline;
}