.orders-section {
  padding: 20px;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

.order-controls {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  gap: 10px; /* Add spacing between elements */
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 40%; /* You can adjust the width of the search bar */
  border: 1px solid #ccc;
  border-radius: 13px;
}

.filter-button {
  background-color: white; /* White background */
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 9px;
  cursor: pointer;
}

.filter-button svg {
  color: gray; /* Gray color for the filter icon */
}

.filter-button:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

.new-order-button {
  padding: 8px 16px;
  border: none;
  background-color: #4D869C;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.new-order-button:hover {
  background-color: #7AB2B2;
}

.order-history-container {
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.no-order-history {
  text-align: center;
  font-size: 18px;
  color: #888;
  padding: 20px;
}

.order-card {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
