/* Sidebar Container */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #4D869C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease;
  padding: 15px;
}

.sidebar.collapsed {
  width: 4%; /* Collapsed sidebar width */
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* Ensure logo is centered when collapsed */
}

.delhai-logo-img {
  width: 35px; /* Size of the logo */
  height: 35px;
  display: block; /* Center the logo */
}

.sidebar.collapsed .delhai-logo-img {
  width: 25px; /* Smaller logo when collapsed */
  height: 25px;
  align-items: center;
  justify-items: flex-start;
}

.sidebar-text {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 10px; 
  letter-spacing: 0.6px;
}

.sidebar.collapsed .sidebar-text {
  font-size: 16px; /* Smaller text size when collapsed */
}

/* Navigation Links Wrapper */
.nav-links-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

/* Navigation Links */
.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF !important;
  text-decoration: none;
  padding: 12px 15px;
  transition: background-color 0.2s, color 0.2s;
  margin-bottom: 10px;
  border-radius: 15px;
}

.sidebar.collapsed .nav-link {
  padding: 10px 10px; /* Smaller padding when collapsed */
}

/* Adjust icon size when collapsed */
.nav-link i {
  margin-right: 15px;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.sidebar.collapsed .nav-link i {
  font-size: 22px; /* Smaller icons when collapsed */
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff !important;
}

.nav-link:hover i {
  transform: scale(1.2);
}

/* Settings Link at Bottom */
.settings-link {
  margin-top: auto;
  padding: 12px 15px;
}
