/* Container for the stock details page */
.stock-details-page {
  padding: 20px;
  background-color: transparent;
}

/* Header styles for stock details */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.back-button {
  margin-right: 10px;
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
}

.back-button:hover {
  transform: scale(1.05);
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 0;
  cursor: pointer;
}

.total-stock-actions {
  display: flex;
  gap: 15px;
}

.action-link {
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
  text-decoration: none;
}

.action-link:hover {
  text-decoration: underline;
}

/* Stock details table */
.stock-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.stock-details-table th,
.stock-details-table td {
  padding: 12px 15px;
  border-radius: 10px;
  text-align: left;
  border-bottom: 4px solid rgb(239, 238, 238);
}

.stock-details-table th {
  background-color: #fff;
  color: #373A40;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}c

.stock-details-table td {
  font-size: 16px;
  color: #5a5d63;
}

.product-image {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.product-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
