/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the whole app */
}

.content {
  flex-grow: 1;
  background-color: rgb(251, 251, 251);
  overflow-y: auto;
  font-family: 'Poppins', sans-serif; /* Ensure content uses Poppins */
}

.count {
  font-size: 40px;
  font-weight: 500; /* Set specific font weight for count class */
  font-family: 'Poppins', sans-serif;
}